@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?1hjs1s');
  src: url('../fonts/icomoon.eot?1hjs1s#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1hjs1s') format('truetype'), url('../fonts/icomoon.woff?1hjs1s') format('woff'),
    url('../fonts/icomoon.svg?1hjs1s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reddit:before {
  content: '\e904';
}
.icon-facebook:before {
  content: '\e900';
}
.icon-linkedin:before {
  content: '\e901';
}
.icon-twitter:before {
  content: '\e902';
}
.icon-arrow:before {
  content: '\e903';
}
