.formWrapper {
  h1 {
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  label,
  input,
  textarea {
    display: block;
    line-height: 1.5em;
    margin-bottom: 15px;
    padding: 10px;
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    opacity: 0.4;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 0.4;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    opacity: 0.4;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    opacity: 0.4;
  }
  textarea,
  input {
    padding-left: 8px;
  }
  .ctaBtn {
    // text-align: center;
    margin: 0px;
    // padding-top: 0px;
    background: transparent;
    cursor: pointer;
    &:hover {
      background: #738f84;
    }
  }
}
#contactFormWrapper {
  position: relative;
  width: 100%;
  display: block;
  max-width: 600px;
}
#query{
  margin-bottom:0px;
}
#formStatus {
  display: block;
  margin:5px 0px 20px;
  color: rgb(163, 163, 163);
  font-style: italic;
  line-height: 1em;
  font-size: 80%;
  &.success {
    color:#050;
    font-size: 120%;
  }
  &.error {
    color: #800;
  }
}
