/* HEADER -------------------------------------------------------------- */

#headerShell {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  width: 100%;
}
#header {
  top: 0px;
  margin: 0px;
  height: 72px;
  background: #fff;
  .promo & {
    top: 30px;
  }
}
// #nav, #headerL{
// 	cursor:pointer;
// }

#headerLogo {
  left: 45px;
  top: 13px;
  width: 115px;

  @media only screen and (max-width: 1280px) {
    // left: 6.25vw;
  }
  @media only screen and (max-width: 430px) {
    // width: 71vw;
    left: 15px;
    top: 12px;
    transform-origin: left center;
  }
  @media only screen and (orientation: portrait) {
    .mobile & {
      left: 15px;
      top: 12px;
      transform-origin: left center;
    }
  }
}

// PROMO
#promoWrapper {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  color: #fff;
  background: rgb(29, 69, 53);
  padding: 5px 0px;
  z-index: 3000;

  a {
    color: #fff;
    text-decoration: underline;
  }
}

#nav {
  top: 26px;
  right: 50px;
  display: block;

  span {
    text-align: right;
    margin-left: 20px;
    display: inline-block;
    position:relative;
    
    &.wsub{
      margin-right:10px;
      padding-bottom:20px;
      &:after{
        position:absolute;
        color:#444;
        content:'‣';
        top:0px;
        right:-10px;
        transform-origin: center center;
        transform: rotate(90deg);
      }
    }

    &.navbtn {
      position: static;
    }


    .subnav{
      display:none;
      position: absolute;
      background: #ffffff;
      min-width: 177px;
      right: 0px;
      top: -8px;
      box-shadow: 2px 2px 4px rgba(0,0,0,.2);
      border: 1px #444 solid;
      margin-top: 30px;
      transition:opacity .3s ease;
      opacity: 0;
      li{
        padding: 11px 4px;
        border-bottom: 1px #444 solid;
        line-height: 1em;
        
        &:last-child {
          border-bottom:none;
        }
      }
    }
    &:hover {
      .subnav{
        opacity: 1;
        display:block;
      }
      &.wsub{
        &:after{
          color: rgba(92, 192, 152, 1.0);
        }
      }
  
    }
    a {
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
      font-weight: 200;
      letter-spacing: 0.1em;
      color: #153327;
      text-transform: uppercase;
      line-height: 1.2em;
      text-decoration: none;

      &:hover {
        color: rgba(92, 192, 152, 1.0);
        text-decoration: underline;
      }

      // &[href="/home"] {
      //   display:none;
      // }
      &[alt="whitepaper"],&[alt="teaser"] {
        // box-shadow: 2px 2px 1px rgba(92, 192, 152, 0.75);
        position: absolute;
        width: auto;
        top: 100px;
        right: 0px;
        background-color: #153327;
        padding: 8px 15px;
        border-radius: 6px;
        color: #fff;
        box-shadow: 2px 2px 1px rgba(255, 255, 255, 0.75);
        // box-shadow: 2px 2px 1px rgba(155, 155, 155, 0.75);
        &:hover {
          background:rgba(92, 192, 152, 1.0);
          text-decoration: none;
        }
        @media only screen and (max-width: 800px) {
          position: relative;
          display: inline-block;
          top: 0px;
          padding: 14px;
          font-size: 15px;
  
        }
      
        .mobile & {
          position: relative;
          display: inline-block;
          top: 0px;
          padding: 14px;
          font-size: 15px;
        }
      
      }

      &[alt="teaser"]{
        top: 62px;

        @media only screen and (max-width: 800px) {
          position: relative;
          display: inline-block;
          top: 0px;
          padding: 14px;
          font-size: 15px;
  
        }
      
        .mobile & {
          position: relative;
          display: inline-block;
          top: 0px;
          padding: 14px;
          font-size: 15px;
        }

      }

    }

    &.active {
      a {
        text-decoration: underline;
      }
    }
    &:first-child {
      margin-left: 0px;
    }

    @media only screen and (max-width: 1280px) {
      margin-left: 20px;
      // margin-left: 2.3vw;
      right: 6.25vw;
    }
  }

  @media only screen and (max-width: 800px) {
    display: none;
  }
  .mobile & {
    display: none;
  }
  &.open {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100vh;
    background: rgba(240, 240, 232, 0.95);
    padding: 15vw;

    span {
      text-align: center;
      display: block;
      margin: 0px auto 30px;

      a {
        font-size: 18px;
      }
    }
  }
}
#social {
  position:relative;
  top:-7px;
  // top: 90vh;
  // right: 80px;
  display: inline-block;
  .promo & {
    // top: calc(90vh - 30px);
  }

  @media only screen and (max-width: 500px) {
    // left: 0px;
    // right: 0px;
    text-align: center;
  }
  @media only screen and (max-width: 1250px) {
    // top: calc(100vh - 37px);
    // right: calc(50% - 91px);
  }
  @media only screen and (max-width: 800px) {
    display: none;
    transition: none;
  }
  .mobile & {
    display: none;
    transition: none;
    top:0px;
  }
  &.open {
    display: block;
    color: $prmGreen;
    opacity: 1;
    text-align: center;
  }

  a {
    // display: inline-block;
    // margin-left: 60px;
    // font-size: 21px;
    // color: #738f84;
    display: inline-block;
    margin-left: 24px;
    font-size: 15px;
    background-color: #738f84;
    color: #fff;
    border-radius: 50px;
    position: relative;
    width: 32px;
    height: 32px;
    
    transition: all 0.3s ease;

    &:first-child {
      margin-left: 0px;
    }
    &:before {
      position:relative;
      top: 9px;
      left: 13px;
    }

    &.icon-facebook:before {
      top: 9px;
      left: 13px;
    }

    &.icon-twitter:before {
      left: 7px;
    }

    &.icon-linkedin:before {
      left: 8px;
      top: 8px;
    }

    &.icon-reddit:before {
      left: 8px;
      top: 8px;
    }

    &:first-child {
      // margin-left: 0px;
    }

    &:hover {
      background-color: #153327;
      opacity: 1;
    }
    @media only screen and (max-width: 800px) {
      margin: 0px 10px;
      &:first-child {
        margin: 0px 10px;
      }

      &.icon-facebook:before {
        left: 1px;
      }
  
      &.icon-linkedin:before {
        left: 1px;
      }

      &.icon-twitter:before {
        left: 1px;
      }
  
      &.icon-reddit:before {
        left: 1px;
      }
  
    }

    .contact & {
      color: #d7ddd4;
    }
  }
}

#openNavBtn {
  cursor: pointer;
  width: 36px;
  height: 36px;
  padding: 0px;
  // top: 20px;
  // right: 23px;
  top: 18px;
  right: 30px;
  display: none;
  @media only screen and (max-width: 800px) {
    display: block;
  }
  .mobile & {
    display: block;
  }
  .row {
    width: 28px;
    height: 3px;
    background-color: #153327;
    position: absolute;
    left: 4px;
    transition: all 0.3s ease-out;
  }

  .row1 {
    top: 9px;
  }
  .row2 {
    top: 16px;
    transition-delay: 0.1s;
  }
  .row3 {
    top: 23px;
    transition-delay: 0.2s;
  }

  .row4 {
    top: 7px;
    left: 9px;
    transform: rotate(45deg) scaleX(0);
    transform-origin: top left;
    transition: all 0.4s ease-out;
  }
  .row5 {
    top: 7px;
    left: auto;
    right: 9px;
    transform: rotate(-45deg) scaleX(0);
    transform-origin: top right;
    transition: all 0.4s ease-out;
  }

  &.open {
    .row1 {
      opacity: 0;
      top: 29px;
      transition-delay: 0.2s;
    }
    .row2 {
      opacity: 0;
      top: 29px;
    }
    .row3 {
      opacity: 0;
      transition-delay: 0s;
      top: 29px;
    }
    .row4 {
      transform: rotate(45deg) scaleX(1);
      transition-delay: 0.2s;
    }
    .row5 {
      transform: rotate(-45deg) scaleX(1);
      transition-delay: 0.2s;
    }
  }
}
