// BASE STYLES FOR OVERLAY
.overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: rgba(240, 240, 232, 0.96);
  margin: auto;
  display: none;
  opacity: 0;
  z-index: 3000;
  transition: opacity 0.3s ease;

  .showoverlay & {
    display: flex;
    opacity: 1;
    overflow-y: auto;
  }

  .overlayWrapper {
    margin: auto;
    position: relative;
    width: 100%;
    display: inline-block;
    max-width: 660px;
    padding: 4vw;
  }
  .closeBtn {
    cursor: pointer;
    background: transparent url('/images/close_btn.png') no-repeat center center;
    background-size: contain;
    right: 0px;
    top: 2vw;
    width: 26px;
    height: 26px;
    color: $auxGreen;
    transform-origin: center center;
    transition: all 0.3s ease;

    &:hover {
      background-color: $auxGreen;
      width: 20px;
      height: 20px;
    }
  }
}
.showoverlay {
  #sections {
    position: fixed;
    width: 100%;
  }
}
