// PAGE OVERRIDES
.page {
  #sections {
    margin:0px;
    min-height: 100vh;
  }
}

// VERIFY INVESTOR
.verify-investor #sections {
  margin-top: 110px;
}

//WHITEPAPER

.whitepaper {
  #headerShell {
    position: absolute;
  }
  #sections {
    margin-top: 110px;
    text-align: left;
  }
}

//REGISTRATION PAGE
.register {
  #headerShell {
    position: absolute;
  }
  #social {
    display: none;
  }
  #sections {
    min-height: 100vh;
    overflow: visible;
  }
  #register {
    margin-top: 110px;
    padding: 0px 80px;
  }
  p {
    margin: 20px auto;
    max-width: 700px;
  }
  form#registrationForm {
    max-width: 800px;
    margin: 0px auto;
    input,
    select {
      position: relative;
      height: 42px;
      margin-bottom: 15px;
    }
    #submitBtn {
      margin-bottom: 0px;
      height: initial;
    }
    .citystate {
      #city {
        display: inline-block;
        margin-right: 10px;
        width: calc(66% - 10px);
      }
      #state {
        display: inline-block;
        width: 33%;
      }
    }
    .zipcountry {
      #postal {
        display: inline-block;
        margin-right: 10px;
        width: calc(66% - 10px);
      }
      #country {
        display: inline-block;
        width: 33%;
      }
    }
    #formStatus {
      text-align: left;
    }
  }
}
