// APP.SCSS

body {
  background-color: #9fc5b4;
  transition:background .3s ease;
  &.about, &.advisors{
    background-color: #fff;
  }
  // background-color: $secGreen;
}
p,section li {
  margin: 0px 0px 20px;
  max-width: 750px;
  text-align: left;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  color: #fff;

  font-family: 'Roboto', sans-serif;
  @include scaled-font(17,19,280,1280);
  @media only screen and (orientation: portrait) {
    .mobile & {
      font-size: 16px;
    }
  }

  span {
    color: $secGreen;
    text-transform: uppercase;
    font-weight: 300;
  }
}
a{
  color:#fff;
  text-decoration: underline;

  .about &, .advisors &{
    color:#222;
  }
  

}
section li {
  margin-left: 25px;
}
a.ctabtn {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 1.2em;
  text-decoration: none;
  background-color: #153327;
  padding: 8px 15px;
  border-radius: 6px;
  color: #fff;
  box-shadow: 2px 2px 1px rgba(255, 255, 255, 0.75);
  // box-shadow: 2px 2px 1px rgba(155, 155, 155, 0.75);
  &:hover {
    background:rgba(92, 192, 152, 1.0);
    text-decoration: none;
  }

}
h1 {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  // font-size: 5vw;
  // font-weight: 400;
  color: #153327;
  line-height: 1.2em;
  letter-spacing: 0.0125em;

  font-weight: 600;
  text-transform: uppercase;
  font-size: 4vw;

  @media only screen and (orientation: portrait) {
    .mobile & {
      font-size: 10vw;
      margin-bottom: 11px;
    }
  }

}
h2, .subsect h1 {
  text-align: left;
  font-family: 'brandon-grotesque','Roboto', sans-serif;
  font-size: 32px;
  color: #153327;
  font-weight:500;
  line-height: 1em;
  margin: 20px 0px 5px;
  letter-spacing: 0.05em;
}

#sections {
  // position: relative;
  // margin: 0px auto;
  // text-align: center;
  // min-height: 100vh;
  // overflow: auto;
}
.sect {
  max-width: initial;
  margin: 0px;
  padding: 120px 45px 0px;

  @media only screen and (max-width: 1280px) {
    // padding: 0 6.25vw;
  }
  @media only screen and (max-height: 650px) {
    min-height: 770px;
  }
  @media all and (orientation: portrait) {
    .mobile & {
      min-height: 100vh;
      padding: 100px 25px 0px;

    }
  }
}
.subsect{
  padding-bottom: 50px;
  #news & {
    padding-top:0px;
  }
}

// HOME/INTRO VIDEO
#countdown,
#countdown2 {
  font-family: 'Roboto';
  color: $secGreen;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  line-height: 1.2em;
  text-align: center;
  top: 145.954px;
  display: none;

  p {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: auto;
    font-size: 19px;
  }

  @media all and (orientation: portrait) {
    .mobile & {
      top: 111.954px;
      padding: 0px 22px;

      p {
        font-size: 4vh;
      }
    }
  }
}
#home {
  background:transparent;
  // background: #9fc5b4;
}
#homeBG {
  background-color: #9fc5b4;
  opacity: 0.15;
  position:fixed;

  img {
    display: none;
  }
}
#homeCTA {
  position: relative;
  #introBlock {
    position: relative;
    // left: 45px;
    // right: 45px;
    // top: 45%;
    // margin-bottom: 25px;
    // transform-origin: top left;
    // transform: translateY(-50%);

    @media only screen and (max-width: 430px) {
      // left: 25px;
      // right: 25px;
      // top: 110px;
    }

    @media only screen and (max-height: 800px) {
      // top: 130px;
      transform: none;
    }
    @media only screen and (orientation: portrait) {
      .mobile & {
        // left: 25px;
        // right: 25px;
        // top: 110px;
      }
    }

    p {
      margin: 20px 0px 0px;
      max-width: 750px;
      text-align: left;
      line-height: 1.5em;
      letter-spacing: 0.05em;
      color: #fff;

      font-family: 'Roboto', sans-serif;
      @include scaled-font(17,19,280,1280);

      @media only screen and (orientation: portrait) {
        .mobile & {
          font-size: 16px;
        }
      }

      span {
        color: $secGreen;
        text-transform: uppercase;
        font-weight: 300;
      }
    }
  }
  h1 {
    text-align: left;
    font-family: 'brandon-grotesque','Roboto', sans-serif;
    font-size: 4.25vw;
    font-weight: 600;
    /* font-weight: 200; */
    color: #153327;
    line-height: 1.1em;
    letter-spacing: 0em;
    text-transform: none;

    span {
      // font-family: 'Montserrat';
      font-size: 7vw;
      font-weight: 900;
      font-weight: 700;
      text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.75);
      text-transform: uppercase;
      letter-spacing: 0.05em;
      display: block;
      margin-bottom: 8px;
      @media only screen and (max-width: 500px) {
        font-size: 10vw;
      }
      @media only screen and (orientation: portrait) {
        .mobile & {
          font-size: 11vw;
          margin-bottom: 20px;
        }
      }
  
    }
    @media only screen and (max-height: 800px) {
      font-size: 5vw;
    }
  }
  h2 {
    text-align: left;
    font-family: 'brandon-grotesque','Roboto', sans-serif;
    font-size: 32px;
    color: #153327;
    font-weight:500;
    line-height: 1em;
    margin: 20px 0px 5px;
    letter-spacing: 0.05em;
  }
}
#playVideo {

  // cursor: pointer;
  // text-align: left;
  // color: $auxGreen;
  // font-family: 'Roboto';
  // color: #fff;
  // text-transform: uppercase;
  // font-size: 14px;
  // padding: 10px 20px 10px 10px;
  // background-color: #153327;
  // margin: 0px;
  // border-radius: 5px;
  // // box-shadow: 3px 3px 2px rgba(115, 143, 132,.7);
  // box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.75);


  position:relative;
  cursor: pointer;
  text-align: left;
  color: $auxGreen;
  font-family: 'Roboto';
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 20px 10px 10px;
  background: #ABCCBD url('/images/video_thumb.png') center center no-repeat;
  background-size: auto 91%;
  display: inline-block;
  width: 200px;
  height: 130px;
  margin: 0px;
  border-radius: 5px;
  border:#fff 3px solid;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.65);
  transition: all 0.3s ease;
  visibility: hidden;
  
  
  
  
  .play-icon {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    
    background:rgba(255,255,255,.8);
    transition: all 0.3s ease;
    display:inline-block;
    border-radius:50px;
    padding:18px 20px;
    
    span {
      position: relative;
      left: 4px;
      display: block;
      width: 0;
      height: 0;
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
      border-left: 24px solid #5cc098;
      
      transition: all 0.3s ease;
    }
    
  }
  &:hover {
    border-color: #153327;

    .play-icon {
      background:rgba(255,255,255,1);
      
      span {
        border-left-color: #153327;
      }
    }
  }
}

#videoOverlayWrapper {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  widows: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);

  z-index: 1000;
  // background-blend-mode: multiply;

  &.active {
    display: none;
  }
  .mobile & {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}
#videoShell {
  position: relative;
  top:60px;
  height: calc(100vh - 210px);
  background: #000;
  width: calc((100vh - 210px) * 1.778);
  margin: 45px auto 1rem;
  // border:#FFF 10px solid;
  z-index: 1000;

  @media only screen and (max-aspect-ratio: 9/7) {
    margin-top: 120px;
    width: calc(100vw - 50px);
    height: calc((100vw - 50px) * 0.5625);
  }
  @media only screen and (orientation: portrait) {
    .mobile & {
      margin-top: 120px;
      width: calc(100vw - 50px);
      height: calc((100vw - 50px) * 0.5625);
    }
  }
}
#videoOverlay {
  overflow: hidden;
  top: 95px;
  bottom: 130px;
  right: 0px;
  z-index: 2000;

  .mobile & {
    top: 100vh;
    left: 0px;
    bottom: initial;
    right: initial;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #000;
    transition: top 0.6s ease;
  }
  .mobile .intro & {
    transition: none;
  }
  // .playeropen & {
  //   top: 0;
  // }

  @media only screen and (max-width: 760px) {
    position: relative;
    // top: 80px;
    top: 16vw;
    top: 95px;

    bottom: initial;
    left: initial;
    right: initial;
    width: 90vw;
    height: calc(90vw*0.5607);
    margin: auto;
  }

  @media only screen and (orientation: landscape) {
    .mobile & {
      // display:none;
    }
  }
}
#videoOverlayClose {
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  transform-origin: center center;
  transition: all 0.3s ease;
  cursor: pointer;

  img {
    position: relative;
    width: 100%;
    height: auto;
    pointer-events: none;
  }

  // &:hover{
  //   width:35px;
  //   height:35px;
  // }
}

// ABOUT
#about, #advisors {
  // background: #fff;
  p {
    color: #153327;
  }
}


// SUB PAGES
#subBG {
  // background: transparent url('../images/CeresLogoblockchain.png') center center no-repeat;
  // background-size: 100% auto;
}

// OVERVIEW SLIDER
#overview {
  @media only screen and (max-height: 500px) {
    padding: 0 2vw;
  }
}
.gallery {
  .slick-slide {
    min-height: 480px;
    position: relative;
  }
  .content-slide {
    h1 {
      top: 40%;
      line-height: 1.5em;
      font-size: 30px;
      padding: 0px 78px;
      @include scaled-font(20,60,400,1440);

      @media all and (orientation: portrait) {
        .mobile & {
          // font-size: 35px;
          top: 35%;
          font-size: 5.5vh;
          padding: 0px;
        }
      }
    }
  }
}
.slick-slide img {
  margin: auto;
  max-width: 100%;
}
.slick-next,
.slick-prev {
  display: block;
  width: 68px;
  height: 68px;
  background-color: $auxGreen;
  color: #fff;
  border-radius: 50px;
  top: 33%;
  z-index: 100;
  cursor: pointer;
  transition: all 0.3s ease;
  transform-origin: center center;

  &.icon-arrow:before {
    position: absolute;
    top: 26px;
    left: 25px;
  }

  &:hover {
    color: $auxGreen;
    background-color: #fff;
  }
  @media all and (orientation: portrait) {
    .mobile & {
      top: 65%;
      width: 60px;
      height: 60px;

      &.icon-arrow:before {
        top: 23px;
        left: 23px;
      }
    }
  }
}
.slick-prev {
  transform: rotate(180deg);
}
.gallery-nav {
  width: 100%;
  top: 59vh;
  a {
    display: inline-block;
    width: 16.718vw;
    height: 50px;
    padding-top: 17px;
    color: $secGreen;
    text-align: center;
    font-size: 12.17px;
    max-width: 214px;
    margin: 0px;
    border-bottom: 3px $secGreen solid;

    &.current {
      border-bottom: 3px $auxGreen solid;
    }
    @media only screen and (max-width: 650px) {
      width: 30%;
    }
  }
  @media all and (orientation: portrait) {
    .mobile & {
      top: 66vh;
    }
  }
}

// ICO
#ico {
  p {
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
  }
  #sect3 {
    margin: 130px auto 22px;
    line-height: 1.8em;
    max-width: 900px;
  }
  #sect4 {
    text-align: center;
    .threecol {
      padding: 1.95vw;

      @media only screen and (max-width: 800px) {
        display: block;
      }
    }
    .item {
      padding: 1.95vw;
      border-right: $auxGreen 0.5px solid;

      &:last-child {
        border: none;
      }
      @media only screen and (max-width: 800px) {
        display: block;
        width: 100%;
        border: none;
        margin-bottom: 60px;
      }

      h3 {
        display: inline-block;
        font-size: 14px;
        font-weight: 200;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        line-height: 1em;
        margin-bottom: 24px;
        &:after {
          content: ' ';
          display: block;
          border-bottom: 2px #5cc098 solid;
          width: 50%;
          margin: auto;
          position: relative;
          top: 4px;
        }
      }
      p {
        font-size: 16px;
        font-weight: 200;
        line-height: 2em;
      }
    }
  }
}

// CM SOLUTIONS

#cmsolutions {
  #sect6 {
    max-width: 700px;
    margin: 100px auto 0px;
  }
  h2 {
    text-align: center;
    font-weight: 200;
    // line-height: 1.2em;
    color: $secGreen;
    margin-bottom: 40px;
  }
  p {
    text-align: center;
    line-height: 2em;
    font-size: 28px;
  }
}

// COLUMN VALUES FOR BIOS
.twocol,
.threecol {
  .item {
    h3 {
      text-transform: uppercase;
      margin-bottom: 10px;
      letter-spacing: 0.2em;
      &:after {
        content: ' ';
        display: block;
        border-bottom: 2px #5cc098 solid;
        width: 50%;
        margin: auto;
        position: relative;
        top: 4px;
      }
    }
    h4 {
      text-transform: uppercase;
      margin: 10px auto 30px;
      letter-spacing: 0.2em;
    }
    p {
      line-height: 2em;

      a {
        color: $auxGreen;
      }
    }
  }
}

// FOUNDERS
#advisors {
  // margin: 130px auto 0px;
  h2 {
    margin-bottom: 50px;
    color:#555;
    text-transform: uppercase;
    @media only screen and (max-width: 500px) {
      font-size: 9vw;
    }
    @media only screen and (orientation: portrait) {
      .mobile & {
        font-size: 6vw;
        margin: 10px 0px;
      }
    }
  
  }
  .itemList {
    margin-top:50px;
    display:block;
    text-align: left;
    @media only screen and (orientation: portrait) {
      .mobile & {
        margin-top:25px;
      }
    }

  }
  .item {
    padding: 0px;
    display: inline-block;
    max-width:800px;
    margin-bottom:20px;
    position:relative;

    @media only screen and (max-width: 800px) {
      display: block;
      width: 100%;
      margin-bottom: 60px;
    }

    h3 {
      text-transform: uppercase;
      margin-bottom: 2px;
      color:#1d4535;
      font-size:16px;
      letter-spacing: 0.05em;
      // border-bottom:2px solid #5cc098;
      text-align: left;
      &:after {
        // content: ' ';
        // display: block;
        // border-bottom: 2px #5cc098 solid;
        // width: 50%;
        // margin: auto;
        // position: relative;
        // top: 4px;
      }
    }
    h4 {
      color:#5cc098;
      text-transform: uppercase;
      margin: 0px;
      font-size:14px;
      font-weight:400;
      letter-spacing: 0.05em;
      font-style: normal;
      text-align: left;
      line-height: 1.25em;
    }
    p {
        line-height: 1.6em;
        font-size: 16px;
        max-width: initial;
      a {
        color: $auxGreen;
      }
    }
  }
  .bioImage {
    position:relative;
    float:left;
    display: inline-block;
    width: 130px;
    height: 130px;
    background-color: $prmGreen;
    border-radius: 76px;
    margin: 0px 20px 20px 0px;
    filter: grayscale(100%);

    @media only screen and (max-width: 800px) {
      display: block;
      float:none;
    }
    @media only screen and (orientation: portrait) {
      .mobile & {
        display: block;
        float:none;
      }
    }
  
    &#cuchill {
      background: transparent url('/images/cuchill.jpg') no-repeat top center;
      background-size: cover;
    }
    &#ganderson {
      background: transparent url('/images/ganderson.jpg') no-repeat top center;
      background-size: 130% auto;
    }
    &#jimschultz {
      background: #E4E4E4 url('/images/jschultz.jpg') no-repeat top center;
      background-size: 87% auto;
    }
    &#smcnamara {
      background: #000 url('/images/smcnamara.jpg') no-repeat top center;
      background-size: 70% auto;
    }
    &#luchill {
      background: transparent url('/images/luchill.jpg') no-repeat top center;
      background-size: cover;
    }
    &#psaladino {
      background: transparent url('/images/psaladino.jpg') no-repeat top center;
      background-size: 130% auto;
    }
    &#tzeoli {
      background: transparent url('/images/tzeoli.jpg') no-repeat top center;
      background-size: 100%;
    }
  }

  .bioText {
    float:left;
    display:inline-block;
    width: calc(100% - 150px);

    @media only screen and (max-width: 800px) {
      float:none;
      display:block;
      width: 100%;
    }

    @media only screen and (orientation: portrait) {
      .mobile & {
        float:none;
        display:block;
        width: 100%;
      }
    }
  
   }
}

// BOARD OF ADVISORS

// #sect7,
// #sect8,
#boardofadvisors {
  padding: 0px;
  margin: 130px auto 0px;

  .threecol {
    display: block;
  }
  h2 {
    margin-bottom: 50px;
    @media only screen and (max-width: 500px) {
      font-size: 9vw;
    }
  }
  .item {
    padding: 0px 28px;
    display: inline-block;
    width: 33.33%;

    @media only screen and (max-width: 800px) {
      display: block;
      width: 100%;
      margin-bottom: 60px;
    }
    h3 {
      text-transform: uppercase;
      margin-bottom: 10px;
      letter-spacing: 0.2em;
      &:after {
        content: ' ';
        display: block;
        border-bottom: 2px #5cc098 solid;
        width: 50%;
        margin: auto;
        position: relative;
        top: 4px;
      }
    }
    h4 {
      text-transform: uppercase;
      margin: 10px auto 30px;
      letter-spacing: 0.2em;
    }
    p {
      line-height: 2em;

      a {
        color: $auxGreen;
      }
    }
  }
  .bioImage {
    display: block;
    width: 130px;
    height: 130px;
    background-color: $prmGreen;
    border-radius: 76px;
    margin: 0px auto 20px;
  }
}

body.pia, body.invprocess, body.news {
  background-color: #F1F6F4;
  #headerShell{
    position:absolute;
  }
  h1{
    text-align: left;
    font-family: 'brandon-grotesque','Roboto', sans-serif;
    font-size: 32px;
    color: #153327;
    font-weight:500;
    line-height: 1em;
    margin: 20px 0px 5px;
    letter-spacing: 0.05em;
    text-transform:none; 

  }
  .sect{
    padding-top:160px;
  }
  p, section li{
    color:#222;
    max-width:100%;
    font-size: 16px;

  }
  footer p{
    color:#FFF;
    font-size: 12px;
  }
}


// NEWS

.showcase-caption{
  a:hover p {
    color: #153327;
  }
}

.showcase-item {
  list-style-type: none;
  margin-left:0px;
}
.showcase-link {
  p{
    text-decoration: underline;
  }

  &:hover {
    p{
      color:#333;
      text-decoration: none;
    }
  }
}


footer {
  background-color: #1d4535;
  width: 100%;
  padding: 10px 45px;
  @media only screen and (max-width: 1250px) {
    padding: 20px 33px 46px;
  }

  a,
  p {
    color: #fff;
    font-size: 12px;
    
    line-height: 1em;
    letter-spacing: 0.2em;
  }
  .copyright {
    // font-style: italic;
  }
}
