@charset "UTF-8";

/* RESET --------------------------------------------------------- */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: top;
  background: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
body {
  line-height: 1px;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  outline: 0;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
\:article,
\:aside,
\:details,
\:figcaption,
\:figure,
\:footer,
\:header,
\:hgroup,
\:menu,
\:nav,
\:section {
  display: block;
}
p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
:focus {
  outline: 0;
}
canvas {
  letter-spacing: 0;
}

@import 'slick';
@import 'animate';
@import 'fonts';
@import 'vars';
@import 'jquery.fullPage';
@import 'smartscroll';
@import 'includes/helpers';

* {
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: 0;
}
img,
svg,
video {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*	HIDES WEBKIT MEDIA CONTROLS */
::-webkit-media-controls {
  display: none !important;
}

/* main page */

html {
  height: 100%;
  -webkit-text-size-adjust: none;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: #7c7c7c;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 1.5;
  // letter-spacing: 1.25px;
}
h1,
h2,
h3,
h4,
h5,
p,
label {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  line-height: 1em;
  width: 100%;
  // letter-spacing: 1px;
}
h1 {
  font-size: 60px;
  font-weight: 600;
}
h2 {
  font-size: 48px;
  font-weight: 600;
}
h3 {
  font-size: 12px;
  color: $secGreen;
  font-weight: 600;
}
h4 {
  font-size: 12px;
  color: $secGreen;
  font-weight: 600;
  font-style: italic;
}
p,
label,
input,
textarea {
  margin: initial;
  font-size: 15px;
  letter-spacing: 0.04em;
  line-height: 1.2em;
  color: #7c7c7c;
}
blockquote {
  display: block;
  max-width: 820px;
  min-height: 145px;
  margin: auto;
  padding: 45px 0px;
  font-size: 28px;
  line-height: 1.25;
  letter-spacing: 1.5px;
  font-weight: 300;
  color: #444;
  font-family: 'Roboto', Arial, sans-serif;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent url(../images/framework/blockquote_bg.svg) center center no-repeat;
}
.ie8 body {
  min-width: 1680px;
}

/* main ----------------------------------------------------------------- */

/* CONTENT AREAS --------------------------------------------------------------- */

section {
  position: relative;
  margin: 0px auto;
  min-height:100vh;
  // min-height: 100vh;
  overflow: auto;
}
// #main,
.sect {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  max-width: 100%;
  height: auto;
}
#sliderControls {
  width: 100%;
  height: 100vh;
}
.sectWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.sect section {
  display: inline-block;
  width: 100vw;
}

#titleHeader {
  text-align: center;
  margin: 75px auto 0px;
}
#titleHeader h1 {
  position: relative;
  line-height: 1em;
}
#titleHeader h1:after {
  content: ' ';
  border-bottom: #fff 2px solid;
  display: block;
  margin: 10px 0px 5px;
}
.cmaInfo {
  font-weight: 200;
  margin-top: 15px;
}
.cmaInfo .sub {
  display: inline-block;
  margin-right: 15px;
  font-weight: 400;
}

.videoWrapper {
  margin: 0px auto;
  text-align: center;
  color: #fff;
  background-color: #fff;
}
.videoWrapper video,
.videoWrapper iframe {
  max-width: 100%;
  background-color: #fff;
}

.cta {
  margin: 0px auto 50px;
  text-align: center;
}

/*
CURRENT CTA BUTTON AND ANIMATION
*/
.cta .box h3 {
  font-family: 'Montserrat';
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 1.8px;
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.cta .box h3 a {
  color: #fff;
}
.cta .box {
  width: 380px;
  min-height: 50px;
  position: relative;
  display: inline-block;
  margin: 0 10px;
  padding: 0 10px;
  cursor: pointer;
  color: #fff;
  background: #ff9900;
  box-shadow: inset 0 0 0 3px #fff;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.cta .box:hover {
  color: #fff;
  background: #7c7c7c;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.cta .box svg {
  position: absolute;
  top: 0;
  left: 0;
}

.cta .box svg line {
  stroke-width: 3;
  stroke: #ff9900;
  fill: none;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.cta .box svg line {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.cta .box:hover svg line {
  stroke-width: 5;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.cta .box:hover svg line.top {
  -webkit-transform: translateX(-370px);
  transform: translateX(-370px);
}

.cta .box:hover svg line.bottom {
  -webkit-transform: translateX(300px);
  transform: translateX(970px);
}

.cta .box:hover svg line.left {
  -webkit-transform: translateY(460px);
  transform: translateY(-40px);
}

.cta .box:hover svg line.right {
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}

section.blockquote {
  padding-top: 30px;
}
.text h2 {
  margin: 0px auto;
}
.text div,
.cover .caption {
  width: 100%;
  margin: auto;
}

.cover {
  position: relative;
  height: 100vh;
  width: 100vw;
  min-height: 650px;
  /*min-width:100vw;*/
  background: #000;
  color: #fff;
  margin: 0px;
  padding: 0px;
}
.cover article {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /*	display: flex;
	justify-content: center;
	align-items: center;*/
  overflow: hidden;
}
.cover article:after {
  content: ' ';
  position: absolute;
  top: 180px;
  left: 0px;
  width: 100%;
  bottom: 42vh;
  background: transparent url(../images/framework/fpoVideo.png) top center no-repeat;
  background-size: 100% auto;
}
.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
  opacity: 0;
  pointer-events: none;
  width: 5px;
}
.videoArea {
  background-size: cover !important;
}
.videoArea:after {
  content: ' ';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /*background-color:rgba(0,0,0,.5);*/
  background-color: transparent;
}
.cover article video {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;

  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
}

.cover .caption h1 {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #fff;
  text-transform: none;
  text-align: center;
  margin-bottom: 10px;
}
.cover .caption p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1.5px;
  font-weight: 300;

  color: #fff;
  text-align: center;
  width: 100%;
  margin: 0px auto;
}
.image .img {
  margin: 0px auto;
  text-align: center;
}
.image .img img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

/* FOOTER --------------------------------------------------------------- */

#footerShell {
  position: fixed;
  width: 100%;
  height: 67px;
  min-width: inherit;
  display: block;
  overflow: hidden;
  text-align: center;
}

#footerShell #nextBtn {
  position: relative;
  background: url(../images/framework/arrows.png) top right;
  width: 135px;
  height: 67px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#footerShell #backBtn {
  position: relative;
  /*background: url(../images/framework/arrows.png) top left;*/
  width: 135px;
  height: 67px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#footerShell #nextBtn.hide {
  margin-bottom: -70px;
  margin-left: -135px;
}
#footerShell #backBtn.hide {
  margin-bottom: -70px;
  margin-left: -135px;
}

/* FRAMES LAYOUT --------------------------------------------------------------- */
.content img {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: block;
}
.contentArea .content:after {
  /*	content:' ';
	position:absolute;
	right:0px;
	bottom:0px;
	width:477px;
	height:100%;
	background:transparent url(../images/framework/footer_graphic.png) no-repeat bottom right;
	background-size:100% auto;
	*/
}
.contentArea .title {
  margin: 0px;
  left: 56px;
  bottom: 246px;
}
.content .interview {
  position: absolute;
  z-index: 100;
  right: 0px;
  top: -60px;
}

.slider-next,
.slider-prev {
  position: absolute;
  padding: 0;
  font-size: 0;
  line-height: 0;
  /*top: 40%;*/
  top: 45vh;
  width: 59px;
  height: 58px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  border-radius: 50px;
  outline: 0;
  background: rgba(255, 255, 255, 0.29) url(../images/framework/arrow.png) no-repeat center center;
  transition: all 0.3s ease;
}
.slider-prev {
  left: 45px;
  opacity: 1;
  z-index: 1000;
  -webkit-transform: translate(0, -50%) scaleX(-1);
  -ms-transform: translate(0, -50%) scaleX(-1);
  transform: translate(0, -50%) scaleX(-1);
}
.slider-next {
  right: 45px;
}
.slider-next:before,
.slider-prev:before {
  content: '';
  opacity: 1;
}

.slider-next:focus,
.slider-prev:focus {
  background: rgba(255, 255, 255, 0.29) url(../images/framework/arrow.png) no-repeat center center;
}

.slider-next:hover,
.slider-prev:hover {
  background: rgba(255, 255, 255, 0.5) url(../images/framework/arrow.png) no-repeat center center;
}
#emailCTA {
  position: absolute;
  right: 40px;
  top: 74px;
  z-index: 3000;
}
#emailCTA a {
  position: relative;
  margin: 0px;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  border-radius: 4px;
  display: block;
}
#emailCTA a:hover {
  background: rgba(255, 255, 255, 0.6);
}

#emailCTA img {
  display: block;
  position: relative;
  padding: 10px 10px 10px 15px;
}

@media only screen and (max-width: 1920px) {
  .contentArea .title {
    left: 2.9vw;
    bottom: 12.81vw;
  }

  .contentArea .title img {
    max-width: 40.67vw;
  }

  .content .interview {
    top: -3vw;
    right: 0px;
  }
  .contentArea .content:after {
    width: 24.84vw;
  }
}

@media only screen and (max-width: 1260px) {
  .content .interview img {
    max-width: 35.63vw;
  }
}

@media only screen and (min-width: 1920px) {
  .content {
    width: 100%;
    background: #fff;
  }
}

/* SECONDARY --------------------------------------------------------------- */
#secondaryContent {
  position: relative;
}
#secondaryContent img {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0px;
}

/* RESPONSIVE --------------------------------------------------------------- */
@media only screen and (max-width: 815px) {
  section,
  section article {
    padding: 30px 30px 0px;
  }
}

@media only screen and (max-width: 655px) {
  // .cover .caption h1 {
  // 	font-size: 40px;
  // }
  // h2{
  // 	font-size:24px;
  // 	line-height: 1em;
  // }
  // .cover {
  // 	min-height: 100vh;
  // 	height:auto;
  // 	background:transparent;
  // }
  // .cover video{
  // 	/*display:none;*/
  // }
  // .sect {
  // 	min-height: inherit;
  // }
  // .videoWrapper video, .videoWrapper iframe {
  // 	height: auto;
  // }
  // #header {
  // 	top: 30px;
  // }
  // p {
  // 	padding-bottom: 20px;
  // }
  // .caption{
  // 	margin-top: 50px;
  // }
  // .cta .box {
  // 	border:#ff9900 2px solid;
  // 	padding:8px 0px;
  // }
  // .cta .box h3 {
  // 	line-height: 1.3em;
  // 	padding: 0px 10px;
  // }
  // .cta .box svg {
  // 	display: none;
  // }
}
@import 'overlay';
@import 'nav';
@import 'forms';
@import 'site';
@import 'pages';
