<div class="sect">

    <h1>The CERES White Paper</h1>
    <p>
        <strong>The right coin at the right time&hellip; done the right way</strong>
    </p>
    <p>
        <strong>Solving the cannabis industry&rsquo;s banking conundrum </strong>
    </p>
    <p>
        <strong>by utilizing distributed ledger technology</strong>
    </p>
    <p>
        <strong>CERES: 1</strong>
        <strong>
            <sup>st</sup>
        </strong>
        <strong> cryptocurrency coin to be registered as a security with the SEC</strong>
    </p>
    <p>Table of Contents</p>
    <ol>
        <li>Abstract</li>
        <ol>
            <li>Banking Challenges: The Legal Cannabis Industry</li>
            <li>A Lack of Alternative Crypto Investments</li>
        </ol>
        <li>Current Blockchain Environment</li>
        <li>CoolMellon&rsquo;s Distributed Ledger Technology</li>
        <li>Ceres Coin and Cannabis</li>
        <li> The Offering</li>
        <ol>
            <li>What is a Security?</li>
            <li>CoolMellon and Reg A+</li>
            <li>Pre ICO</li>
            <li>The ICO</li>
        </ol>
        <li>The Team</li>
        <ol>
            <li>Founders</li>
            <li>Board of Advisors </li>
        </ol>
    </ol>
    <p>
        <strong>Abstract</strong>
    </p>
    <p>CoolMellon, via the 1
        <sup>st </sup>ever Initial Coin Offering (ICO) executed as an SEC publicly tradable security, issues the first digital
        cryptocurrency to solve the banking obstacles faced by the $20 billion legal cannabis industry as well as being an
        alternative investment vehicle for the $100 billion cryptocurrency market.</p>
    <p>Our CERES coin provides a peer-to-peer methodology for conducting, secure, auditable, financial transactions in the legal
        medicinal and adult use cannabis industry, providing solutions to problems facing patients/customers, doctors, growers,
        processors, dispensaries, bankers, investors, auditors, and regulators. Additionally,
        <strong>CERES</strong>, one of the first cryptocurrencies to be registered as an SEC security, also serves as an alternative
        investment asset for holders of various cryptocurrencies.&nbsp;</p>
    <p>This paper outlines the issues facing the legalized cannabis industry and how our proprietary Distributed Ledger Technology
        (DLT) addresses the actors&rsquo; pain points. We then outline how we create an ecosystem built around CERES and
        our proprietary DLT implementation and the benefits beyond the cannabis industry. Finally, we explain why we have
        elected to create the first cryptocurrency registered as a security which falls under the regulatory purview of the
        SEC.&nbsp;
    </p>
    <p>
        <strong>Banking Challenges Legal Cannabis Industry</strong>
    </p>
    <p>The cannabis industry has traditionally been fragmented, untrustworthy, and illicit, but it is now moving towards greater
        legitimacy. Twenty-nine states as well as the District of Columbia have legalized medicinal use of marijuana. Eight
        states have approved adult use of marijuana. New research shows powerful health benefits of cannabis and strong social
        movements are pushing for increased legalization. Investors and entrepreneurs looking to gain from America&rsquo;s
        marijuana boom have one major obstacle in their path: finding a way within the realms of legality to finance their
        operation.
    </p>
    <p>Federal law labels marijuana a&nbsp;
        <a href="https://www.dea.gov/druginfo/ds.shtml">controlled substance</a>. For businesses operating in the cannabis industry, this fact is incredibly important, as
        it means any money earned stemming from the production or sale of marijuana is federally illegal.</p>
    <p>Banks open themselves up to government seizure by the Federal Deposit Insurance Corporation (FDIC) if they choose to
        do business with anyone in the cannabis industry. Under federal law, banks must disclose marijuana-related transactions
        as suspicious activity. For banks, this could mean bringing unwanted federal attention and regulatory scrutiny if
        they choose to service the cannabis industry. </p>
    <p>As a result, large banking institutions are refusing to touch cannabis. JP Morgan Chase &amp; Co. and Bank of America
        have made it company policy not to work with the marijuana industry. Chase&nbsp;
        <a href="http://www.forbes.com/sites/debraborchardt/2016/02/04/chase-closes-a-marijuana-media-account/">says</a> that, &ldquo;as a federally regulated institution, we don&rsquo;t process payments for businesses participating
        in federally prohibited activities.&rdquo; This creates a conundrum for those operating in the cannabis industry:
        either operate as a cash-only business or find inventive ways to get around the current legal obstacles in the financial
        sector. The vast majority of firms are choosing the former.</p>
    <p>CERES, through its proprietary Distributed Ledger Technology (DLT), not only solves the problem for this industry but
        also many others, and the capabilities and value of CERES are infinite. With CERES and our DLT, we are building a
        system of trust between patients/customers, doctors, growers, processors, dispensaries, bankers, investors, auditors,
        and regulators. Since blockchain holds an immutable ledger and assured contracts, it can easily accommodate the recording
        and storing of seed to sale data, verify patient identification, assure payments, and more. CoolMellon through its
        CERES creates a cryptocurrency built on Blockchain DLT, specifically for the worldwide cannabis community - but it
        is easily scalable to other industries. Dedicated to leveraging our DLT to create a new currency which returns power
        and control to the individual (the promise and value of the blockchain technocrats), CoolMellon also adheres to the
        rules and regulations of the federal government - all with a crypto coin that is an SEC registered security.</p>
    <p>
        <strong>No Alternative Investments for Cryptocurrency Investors</strong>
    </p>
    <p>Currently, cryptocurrency investors (there are over 800 different cryptocurrencies now) have very few, if any, alternatives
        for investing their cryptocurrency assets. They are basically invested in the values of that currency and subject
        to the exponential volatility of the cryptocurrency market. It is difficult and time consuming to exchange cryptocurrency
        into fiat currency, and then exchange that fiat currency for a tradable security. CoolMellon's coin will provide
        cryptocurrency investors with the opportunity to seamlessly invest their cryptocurrency assets directly into an SEC
        registered security. This will allow many sophisticated cryptocurrency investors to diversify their cryptocurrency
        portfolios with a dividend yielding security.</p>
    <p>
        <strong>CoolMellon has harnessed this blockchain technology to solve two major issues in two different industries with one
            coin.
        </strong>
    </p>
    <p>
        <strong>Current Blockchain Environment</strong>
    </p>
    <p>Blockchain technology was developed as an open source system, utilizing a decentralized, distributed ledger technology
        (DLT). Blockchain's DLT can be used by networked applications to manage the ownership and exchange of digital assets,
        eliminating the need for a central bank or authority. Bitcoin became the first such financial application to utilize
        Blockchain. Since its creation, the Bitcoin cryptocurrency has served as an alternative to fiat currency for payment
        of goods and services. Cryptocurrency, however, is only one possible application for Blockchain technology. Blockchain's
        distributed ledger technology offers limitless possible applications, eliminating the need for a trusted third party
        or central bank.</p>
    <p>Blockchain DLT can be used to represent the identities of any number of assets including currency, securities, physical
        assets, deeds, titles, etc. In addition to being an alternative to a central bank, Blockchain can also serve as an
        alternative to a trusted third-party authority used to centrally store and manage public cryptographic keys or certificates
        (referred to as certificate authorities or CA&rsquo;s). </p>
    <p>Bitcoin has pioneered the cryptocurrency market, enabling cryptocurrency coins to be used for trade where fiat currencies
        have limitations, such as the sale of Cannabis and its derivative medicinal products.</p>
    <p>A growing number of organizations have issued cryptocurrency coins to raise capital for their speculative businesses,
        bypassing investment bankers and venture capitalists. The cryptocurrency market has exploded in the 2015 &ndash;
        2017-time frame, creating a massive speculator market for investors.</p>
    <p>While Bitcoin's cryptocurrency is the predominant application utilizing Blockchain technology today, new applications
        for Blockchain DLT are emerging that extend well beyond the capabilities offered by Bitcoin's cryptocurrency. Blockchain
        platforms like Ethereum, Ripple and Hyperledger offer an expanding set of features that extend the use of Blockchain's
        capabilities to support virtually any application that has traditionally required a central authority to track and
        monitor transactions and insure trust between stakeholders. Examples include supply chain management, financial securities
        and government documents (e.g. property titles, mineral rights, birth certificates). </p>
    <p>DLT offers new, decentralized methods for managing financial transactions, tracking assets, managing identities and sharing
        information between stakeholders and regulators in a secure and trusted manner. </p>
    <p>
        <strong>CoolMellon DLT</strong>
    </p>
    <p>CoolMellon's DLT takes advantage of evolving Blockchain capabilities to extend services well beyond cryptocurrency. We
        are curating that technology to address the 1) banking issues in the cannabis industry and 2) to issue our coin as
        an SEC security.</p>
    <p>Our deployment of DLT will facilitate decentralized tracking of digitized assets, identity management and smart transactions.
        The decentralized aspect makes it incredibly difficult for fraud or censorship while providing oversight and transparency
        to stake holders and regulators. CoolMellon is developing its customized DLT platform for the following use cases:</p>
    <ol>
        <li>Digital Identity (Individual and Corporate) </li>
        <ol>
            <li>CoolMellon DLT will enable individuals to own and control their digital identity containing reputation, data
                and digital assets. This allows individuals to choose what personal data to disclose to counterparties, giving
                enterprises the opportunity to seamlessly know their customers.</li>
        </ol>
        <li>Records</li>
        <ol>
            <li>CoolMellon DLT will digitize Uniform Commercial Code (UCC) filings, and automate their renewal and release processes.
                Additionally, it will enforce transaction requirements and automatically perfect a lender&rsquo;s security
                interest at the moment of a loan creation</li>
        </ol>
        <li>Securities </li>
        <ol>
            <li>Capitalization table management can be simplified, and intermediaries circumvented in the chain of securities
                custody through the implementation DLT. This facilitates the automatic payment of dividends, stock splits
                and liability management, while reducing counterparty and operational risks.</li>
            <li>Enforcement of transaction rules and policies.</li>
        </ol>
        <li>Financial Data Recording</li>
        <ol>
            <li>Financial organizations can leverage DLT for accurate, transparent recording of financial data, enabling uniform
                financial data across organizations, improved financial reporting and reduced auditing and assurance costs.</li>
        </ol>
        <li>Supply Chain</li>
        <ol>
            <li>DLT provides visibility at every step of a supply chain (seed to sale) incorporating Internet of Things (IoT)
                information as as needed to track a product as it moves from the factory floor to the store shelves, providing
                real-time visibility of an enterprise&rsquo;s entire supply chain.</li>
            <li>Incorporate quality and process control information into Blockchain including laboratory analysis and potency
                information. </li>
        </ol>
        <li>Regulatory Transparency</li>
        <ol>
            <li>Provide regulatory agencies seed to sale tracking capabilities</li>
            <li>Dynamic support for an evolving regulatory environment</li>
        </ol>
    </ol>
    <p>
        <strong>CoolMellon Platform Core Technology</strong>
    </p>
    <p>
        <strong>Blockchain Capabilities and Limitations</strong>
    </p>
    <p>
        <strong>
            <em>Figure 1: Core Blockchain Functionality</em>
        </strong>
    </p>
    <p> </p>
    <p>
        <strong>Figure 1: Core Blockchain Functionality</strong>
    </p>
    <p>Distributed Ledger Technology used by Blockchain establishes a peer-to-peer ledger system where ownership of assets can
        be maintained. While an Asset can be anything, the predominant Assets stored on Blockchain today are Cryptocurrencies.</p>
    <p>Blockchain&rsquo;s core technology enables Identities to be established and secured using a public/private key. Tokens
        are issued to represent an Asset. Ownership of these assets are maintained on the Blockchain Distributed Ledger and
        associated with the digital identity of the owner. The owner uses their Private Key, not shared publicly on Blockchain,
        to maintain and execute transactions of digital Tokens on the Blockchain.</p>
    <p>This establishes an effective decentralized system for an Asset Owner to control their Digital Identity, maintain privacy,
        while trading assets in a public or private market, thus eliminating the need for a middleman to oversee these transactions.
        Blockchain&rsquo;s use of a distributed ledger to store user&rsquo;s public key offers an additional disruption opportunity.
        Secure Internet transactions today, whether Web or Email, has required a Trusted Third Party to centrally manage
        public keys or certificates. </p>
    <p>Blockchain&rsquo;s peer-to-peer, Distributed Ledger Technology (DLT) offers an alternative to a central authority to
        house public keys. Individuals and organizations, with the help of Blockchain can gain control of their own digital
        identities without dependencies on a central key repository or Certificate Authority.</p>
    <p>Blockchain inherently has limitations, however, when it comes to sharing private information between stakeholders in
        a transaction. In the case of both Cannabis related applications as well as securities trading applications, there
        is private data involved in the transaction that cannot and should not be stored on a distributed public ledger.
        Whether it&rsquo;s medical prescriptions for Cannabis customers or an investor&rsquo;s private financial information
        required to participate in a security offering, this information must be maintained and stored outside the Blockchain
        distributed ledger.</p>
    <p>Today, individuals, enterprises and organizations must be responsible for maintaining their own private data behind the
        scenes and disassociated from their Blockchain Identities. With our platform, we Intend to change that.</p>
    <p>
        <strong>Blockchain Enabled Private Information Xchange (BEPIX)</strong>
    </p>
    <p>What Blockchain DLT does offer to a private shared information network is:</p>
    <p> 1. Digital identities</p>
    <p> 2. Digital tokens representing assets owned by digital identities</p>
    <p> 3. Decentralized public key repository</p>
    <p>These three capabilities offer powerful and disruptive tools for private information exchanges.</p>
    <p>
        <strong>
            <em>Figure 2: BEPIX Platform</em>
        </strong>
    </p>
    <p>
        <strong>Figure 2: BEPIX Platform</strong>
    </p>
    <p>CoolMellon, through its strategic technology partnerships, is establishing the first Blockchain-enabled platform for
        managing access and permissions to private information for the cannabis industry. This platform takes advantage of
        Blockchain&rsquo;s 3-key capabilities described above, to enable organizations, enterprises and individuals to:</p>
    <p> 1. Establish a token system representing Information as an asset on Blockchain.</p>
    <p> 2. Utilize Blockchain&rsquo;s public/private key infrastructure to securely encrypt information transactions between
        parties.
    </p>
    <p> 3. Enable the &ldquo;owner&rdquo; of an information asset to manage access to their information, whether it&rsquo;s stored
        in the enterprise or cloud.</p>
    <p>
        <strong>Use Case 1: Reg D Security Trading</strong>
    </p>
    <p>An investor seeks to invest in a Reg D (non-SEC Registered) Security. </p>
    <p>SEC rules have established requirements regarding the investor&rsquo;s sophistication and wealth status that must be
        documented prior to the investor purchasing the security. Additional Know Your Customer (KYC) diligence must be done
        and documented on prospective investors to prevent money laundering and terrorist activities. There are KYC services
        that private equity groups can employ to perform and document this diligence. With BEPIX, a KYC service performs
        its diligence and stores their documentation on a BEPIX-enabled information server. A token, issued to the prospective
        investor enables that investor to claim ownership, but not editing permissions. The investor then shares access to
        this information with the digital identity of the private equity manager.</p>
    <p>
        <strong>Use Case 2: Medical Cannabis Seed to Sale Services</strong>
    </p>
    <p>A doctor issues a prescription for a cannabis patient. A token, representing this prescription is issued to the patient&rsquo;s
        digital ID alone and ownership of the digital prescription is stored on a HIPPA compliant data server enabled by
        BEPIX.
    </p>
    <p>The patient assigns the prescription token to a cannabis grower, who will associate this token with a seed/plant assigned
        to that patient. A device scans a bar code associated with the plant. A token is issued for the plant establishing
        ownership of information pertaining to the plant to the grower.</p>
    <p>When the customer purchases the plant, the token associated with the plant is transferred from grower to dispensary is
        transferred onto the distributed ledger. CM CERES is used by the dispensary to purchase the plant on the same distributed
        ledger Blockchain. A patient with a prescription registered on BEPIX purchases the plant from dispensary using CM
        CERES. Ownership of the cannabis asset is transferred to the Patient.</p>
    <p>The CM CERES transaction as well as the transfer of ownership of the cannabis asset are both is stored on Blockchain,
        however the specifics of the transaction and asset are only accessible to stakeholders in the business, which includes,
        but is not limited to doctor, patient, grower, dispensary and regulators.</p>
    <p>
        <strong>CERES &amp; Cannabis</strong>
    </p>
    <p>CERES takes advantage of the digital and verifiable nature of Blockchain to solve the fragmentation of the cannabis market
        and the marginalization of businesses and consumers. Blockchain is the ideal technology for recording and facilitating
        the exchange of value, goods, services, and private data. Putting cannabis data and transactions on Blockchain increases
        the speed of service and saves companies hundreds of thousands in reduced paperwork. CERES connects all facets of
        the cannabis industry from start to finish.</p>
    <p>CERES adds another layer to current blockchain protocols, letting it focus on solving problems unique to cannabis growers,
        dispensaries, labs, doctors, and customers. CERES builds on the strength of a well- established system to offer applications,
        perform financial services, create a new cryptocurrency, and form a messaging system.</p>
    <p>CERES will immediately serve a number of businesses within the cannabis industry. With legal changes, increased community
        regulations and acceptance, other business opportunities may emerge. CERES DLT can instantly and accurately register
        and record these events:</p>
    <ul>
        <li>Provides an immutable ledger that offers permanent verification of every past transaction, so it builds trust and
            provides transparency</li>
        <li>Stores all product lifecycle events forever in an easy-to-retrieve system (Seed to Sale verification and audit trail)</li>
        <li>Allows multiple apps to simultaneously interact with any piece of information stored in blockchain</li>
        <li>The creation of a &ldquo;self-sovereign identification&rdquo; for:</li>
        <ul>
            <li>Patients</li>
            <li>Customers</li>
            <li>Investors</li>
            <li>Vendors</li>
            <li>Growers</li>
            <li>Processors</li>
            <li>Dispensaries</li>
            <li>Doctors</li>
        </ul>
        <li>Facilitates peer-to-peer transactions across the globe.</li>
        <li>Blockchain verification of medical marijuana IDs and prescriptions: An interface for doctors to sign, vendors and
            government to verify, with doctors paid in CERES. </li>
        <li>Supply chain transparency: Track and trace activity logs, transfers, permissions, safety concerns (i.e. Who handles,
            expiration of perishable items), and more.</li>
        <li>Allows multiple apps to simultaneously interact with any piece of information stored in blockchain.</li>
        <li>Smart transactions: Transaction rules accompany purchase orders. As conditions change, rules change, or the availability
            changes, new conditions can be automatically enforced.</li>
        <li>Secure shared documentation: Blockchain secured stakeholder accessibility to transaction documentation.</li>
        <li>Facilitates peer-to-peer transactions across the globe.</li>
        <li>Secure transfer of assets: Record the quantity of assets such as pallets, trailers, containers, as they move between
            supply chain nodes.</li>
        <li>Track purchase orders: Change orders, receipts, shipment notifications, or other trade-related documents as needed.</li>
        <li>Assign or verify certifications or certain properties of physical products: For example, determining if a food product
            is organic or fair trade, lab-tested pure CBD or pure THC, amounts of the active ingredient, etc.</li>
        <li>Link physical goods to serial numbers, barcodes, digital tags like RFID.</li>
        <li>Provide auditable trail from seed to sale.</li>
    </ul>
    <p>The combination of decentralized encryption, anonymity, immutability, and global scale turns CERES into the ultimate
        online financial ecosystem for the cannabis industry and beyond. As such, CERES provides not only the groundbreaking
        cryptocurrency but also a powerful, modular toolset to build applications that can track shipments, verify potency,
        identify medical patients and their prescriptions, and a host of applications not yet imagined.&nbsp;</p>
    <p>
        <strong>The Offering</strong>
    </p>
    <p>CoolMellon will offer CERES to our investors. CERES will be the 1
        <sup>st</sup> cryptocurrency to be issued as a publicly tradable security, available for purchase by all investors, large
        or small, worldwide. The funding of CERES will do the following: 1) At least 50% and no more than 80% of funds will
        go to collateralized cannabis investments such as construction loans or sale leasebacks with anticipated yield greater
        than 8%; 2) The remaining Funds will go toward the build out of the blockchain infrastructure required so CERES can
        be utilized as the primary means for financial transactions in the legalized cannabis space. Creation of CERES allows
        for:
    </p>
    <ul>
        <li>1st asset backed cryptocurrency that produces a high yield dividend, </li>
        <li>1
            <sup>st</sup> cryptocurrency that is a tradable security via a Reg A+ offering.</li>
        <li>1
            <sup>st</sup> cryptocurrency that solves the banking issues for the cannabis industry.</li>
        <li>1
            <sup>st</sup> cryptocurrency that provides Bitcoin and Ethereum (and other cryptocurrency investors) an alternative
            vehicle to invest their cryptocurrency holdings into an SEC approved and regulated asset via the blockchain.</li>
        <li>Provide our investors with the best of both worlds</li>
        <ul>
            <li>High yield security while we build out the underlying infrastructure of CERES</li>
            <li>Unlimited upside as CERES become the de facto currency for cannabis industry and other industries as we scale
                CERES&rsquo; capabilities</li>
        </ul>
    </ul>
    <p>We are different than all the other Initial Coin Offerings (&ldquo;ICOs&rdquo;) because we recognize and acknowledge
        that CERES is indeed a
        <strong>security</strong>. Most of the $1.2 Billon raised in 2017 via ICOs has been done in a process where the most, if
        not all, ICO issuers claimed their coins as assets and not securities and therefore are not subject to SEC purview.
        ICOs are just the latest vehicle in a long line of schemes for raising capital have that been devised in attempts
        to avoid application of the securities laws. These capital raising vehicles have been analyzed by the courts to determine
        whether they are &ldquo;investment contracts,&rdquo; and therefore &ldquo;securities&rdquo; under the federal definition.
        It is clear to us that these ICOs are securities.</p>
    <p>
        <strong>What is a Security? The Howey Test</strong>
    </p>
    <p>In 1946, the Supreme Court heard a case (
        <a href="http://caselaw.lp.findlaw.com/cgi-bin/getcase.pl?navby=case&amp;court=us&amp;vol=328&amp;invol=293">SEC v. Howey</a>) regarding whether or not a leaseback agreement was legally an investment contract (one of the types
        of investments that is listed as a "security" under the Securities Act and the Securities Exchange Act).&nbsp; Whether
        a certain investment is considered a security is important, because designation as a security means that the investment
        is subject to certain registration requirements. In general, all securities offered in the U.S. must be registered
        with the Securities and Exchange Commission (SEC), although there are some exceptions (See our description of Reg
        D and Reg A+ below). A company offering securities that are not exempt must register them. US Supreme Court ruled
        in SEC v Howey that a transaction is an investment contract i.e. security if:</p>
    <ol>
        <li>
            <strong>It is an investment of money</strong>
        </li>
        <li>
            <strong>There is an expectation of profits from the investment</strong>
        </li>
        <li>
            <strong>The investment of money is in a common enterprise</strong>
        </li>
        <li>
            <strong>Any profit comes from the efforts of a promoter or third party</strong>
        </li>
    </ol>
    <p>ICO issuers today use a lot of legalistic and regulatory language to make sure that their offering is not considered
        a security. There seems to be a disconnect between issuer and investor when it comes to ICOs. We believe most investors
        are purchasing the tokens as 1) an investment of money 2) with an expectation of profits in a 3) common enterprise;
        4) where the profit comes from the work of the promoter, i.e. investors are putting their money into the company
        expecting a return on capital. Why else would an investor buy a &ldquo;coin&rdquo;?&nbsp;</p>
    <p>Why don&rsquo;t issuers register as a security? For many reasons (time, cost, aversion to regulatory insight), ICOs continue
        to avoid registration and the only people really put at risk are the investors. Again, we believe that these are
        securities. In July of 2017, the SEC came out with a report supporting this view. From SEC Investor Bulletin: Initial
        Coin Offerings, July 25,2017:</p>
    <p>
        <em>Some Key Points to Consider When Determining Whether to Participate in an ICO</em>
    </p>
    <ul>
        <li>
            <em>Depending on the facts and circumstances, the offering may involve the offer and sale of securities. If that
                is the case, the offer and sale of virtual coins or tokens must itself be registered with the SEC, or be
                performed pursuant to an exemption from registration. Before investing in an ICO, ask whether the virtual
                tokens or coins are securities and whether the persons selling them registered the offering with the SEC.
                A few things to keep in mind about registration:</em>
        </li>
        <ul>
            <li>
                <em>If an offering is registered, you can find information (such as a registration statement on &ldquo;Form S-1&rdquo;)
                    on&nbsp;
                </em>
                <a href="https://www.sec.gov/">
                    <em>SEC.gov</em>
                </a>
                <em>&nbsp;through&nbsp;</em>
                <a href="https://investor.gov/research-before-you-invest/research/researching-investments/using-edgar-researching-public-companies">
                    <em>EDGAR</em>
                </a>
                <em>.</em>
            </li>
            <li>
                <em>If a promoter states that an offering is exempt from registration, and you are not an&nbsp;</em>
                <a href="https://investor.gov/additional-resources/news-alerts/alerts-bulletins/investor-bulletin-accredited-investors">
                    <em>accredited investor</em>
                </a>
                <em>, you should be very careful &ndash; most exemptions have net worth or income requirements.</em>
            </li>
        </ul>
    </ul>
    <p>
        <strong>CoolMellon and Reg A+</strong>
    </p>
    <p>A small business can raise capital in a number of different ways, including borrowing money from banks, other financial
        institutions or friends/family, and by
        <strong>selling securities</strong>. If a small business is offering and selling securities, even if to just one person,
        the offer and sale of the securities must either be registered with the SEC or conducted in accordance with one of
        the many
        <strong>registration exemptions</strong> under the Securities Act. Registering an offering with the SEC would make your company
        a public company. Going public is a very significant step for any company. Registering securities is a complex expensive
        process which create an incredible obstacle to small companies seeking to raise capital. In our view, this process
        has become an obstacle that most ICO issuers are unwilling to overcome to the detriment of their investors.&nbsp;</p>
    <p>
        <strong>Reg D and Reg A+ Exemptions for Selling Securities</strong>
    </p>
    <p>
        <strong>Reg D</strong>
    </p>
    <p>Up until 2015, many companies relied on a
        <strong>Regulation D</strong> exemption for selling their securities. Under this exemption the issuers were not allowed to
        sell their securities to the public. These types of offerings became known as private placements and they were restricted
        to
        <strong>accredited investors</strong> and these investors had to agree to not resell or distribute the securities to the
        public.
    </p>
    <p>
        <strong>Reg A+</strong>
    </p>
    <p>Reg A+ is an exemption from registration for
        <strong>public offerings</strong>. Offerings made pursuant to this exemption share many of the characteristics with registered
        offerings.&nbsp;
    </p>
    <p>Under Reg A+ exemption:</p>
    <ul>
        <li>Securities can be offered publicly using general solicitation and advertising</li>
        <li>Securities may be sold to any purchaser irrespective of their status as an accredited investor</li>
        <li>Securities sold in a Regulation A offering are not considered &ldquo;restricted securities&rdquo; for purposes of
            aftermarket resales.&nbsp;</li>
    </ul>
    <p>
        <strong>Why did we choose Reg A+?</strong>
    </p>
    <p>We chose this type of offering for the following reasons:</p>
    <ul>
        <li>We recognized that our CERES was a security and to treat it as anything else other than a security would be unfair
            to our investors</li>
        <li>We chose Reg A+ offering over Reg D offering because we want all investors, large and small, to be able to participate
            in the CERES offering. The promise of DLT (distributed ledger technology) is democratization and return of power
            to individuals. We believe in this promise.</li>
        <li>We embrace the opportunity of working with regulators such as the SEC so they can have the advantages of the auditable
            records of CERES DLT.</li>
        <li>We wanted to create a CERES that that can be an alternative investment vehicle to the current crypto coin investors.
            The estimated market capitalization of cryptocurrencies is over $100 Billon. Investors in these assets have no
            alternative instruments to invest their assets. CERES provides them that.</li>
        <li>For CERES to become the de facto currency of the legalized cannabis industry, we needed it to be a freely tradable
            security.
        </li>
    </ul>
    <p>
        <strong>Pre ICO Sale</strong>
    </p>
    <p>CoolMellon will conduct it&rsquo;s pre ICO sale by issuing securities to only accredited investors via a Reg D offering.
        We will utilize a Simple Agreement for Future Tokens (SAFT) as our issuing document. We intend to raise $10 -15mm
        during the pre-sale. At a minimum, 70% of the pre-sale funds will go to an investment project in the legal cannabis
        industry. The remaining funds will go to 1) initial development of CERES, and 2) the costs associated with the Reg
        A+ offering.&nbsp;</p>
    <p>
        <strong>ICO</strong>
    </p>
    <p>Following completion of all the SEC&rsquo;s requirements of the Reg A+ issuance, we will immediately commence the ICO.
        This will be open to all investors worldwide. Minimum investment size will be $1000. We anticipate the approval process
        with the SEC to take 3-4 months. Once complete we have the ability to raise $50mm through a series of tranches. This
        will allow efficient use of capital, while requiring us to only go through the approval process one time. We plan
        on making CERES available on SEC registered exchanges as well as cryptocurrency exchanges.&nbsp;</p>
    <p>The Team</p>
    <p>Founders</p>
    <p>CHARLIE UCHILL</p>
    <p>Prior to CoolMellon, Charlie was a consultant and Portfolio Manager for Institutional Investors and ran a $150mm equity
        derivative arbitrage portfolio. He served in the United States Operations Command as an officer in the 75
        <sup>th</sup> Ranger Regiment. He currently resides in St. Charles, Illinois with his wife and 3 children. He is a graduate
        of the United States Military Academy. --
        <a href="mailto:charlie@coolmellon.com">charlie@coolmellon.com</a>
    </p>
    <p>GREG ANDERSON</p>
    <p>Greg was a successful real estate builder and developer in Texas for more than 20 years, having completed over $100mm
        in real estate transactions across Central and Southeast Texas and currently resides in Austin. As a serial entrepreneur,
        he has had multiple successful exits in various real estate companies. Past participation includes Texas Association
        of Business, Rotary International, The Bunker Labs, Greater Houston and Austin Builders&rsquo; Associations, Texas
        Military Officer&rsquo;s Association, the Southern Living Builder&rsquo;s Council and is currently an Ambassador
        of the Folded Flag Foundation. He is a graduate of the United States Military Academy. --
        <a href="mailto:greg@coolmellon.com">greg@coolmellon.com</a>
    </p>
    <p>Board of Advisors</p>
    <p>MICHAEL HATHAWAY</p>
    <p>Technology consultant with 28 years of executive and engineering expertise in semiconductor, communications, consumer
        electronics and energy industries. He is an inventor with six (6) issued patents in his career and has held executive
        positions at Iron Bridge Networks (Founder, CTO), Agere (Acquired by Lucent Micro Electronics), Austin Ventures (Venture
        Partner) and Tiga Energy Services (CEO). As a consultant, he has worked with numerous venture capital funded and
        privately held companies in the semiconductor, networking, smart grid and computer technology industries. -- mhathaway@information-xchange.com</p>
    <p>ROB SISTEK</p>
    <p>Robert Sistek is a co-founder and serves as an investment advisor to DMS Capital. Prior to DMS Capital, Mr. Sistek was
        the Chief Financial Officer and Executive Vice President, Investments of Innovative Industrial Properties, the first
        ever publicly traded real estate investment trust that focused on properties that are used for growing licensed,
        medical use cannabis and operated by state licensed growers. Mr. Sistek received his Masters of Business Administration
        from the Kellogg School of Management at Northwestern University and his Bachelor of Science in Accounting, summa
        cum laude, from University of Northern Colorado.
        <a href="mailto:--rsistek@dmscapital.com">--rsistek@dmscapital.com</a>
    </p>
    <p>LAWRENCE UCHILL</p>
    <p>Before starting Uchill Law in 2013, Mr. Uchill was a partner in DLA Piper&rsquo;s real estate practice group. Prior to
        joining DLA Piper, he was with Brown Rudnick Berlack Israels LLP. Mr. Uchill&rsquo;s practice focuses on real estate
        capital markets, including cross-border investments, portfolio transactions, mezzanine lending and structured finance
        transactions. His clients include both domestic and foreign investors. He has handled all aspects of real estate
        financings, acquisitions, dispositions and development involving private sector and governmental parties and commercial,
        military housing, apartment, retail, hotel, energy and mixed use real estate projects. Mr. Uchill graduated from
        Boston University School of Law, magna cum laude. --
        <a href="mailto:larry.uchill@uchill-law.com">larry.uchill@uchill-law.com</a>
    </p>
</div>