/* HELPERS ---------------------------------------------------------------------------------- */

.abs {
    top: 0;    left: 0;
    position: absolute;
}

.rel {
    top: 0; left: 0;
    position: relative;
}

.absFull {
    top: 0;    left: 0;
    position: absolute;
    width: 100%; height: 100%;
    display: block;
}

.hidden {
    visibility: hidden;
    display: none;
    opacity: 0;
}

.clickKill {
    cursor: none;
}

.mobile .clickKill {
    display: block;
    cursor: pointer;
}

.TL { top: 0; left: 0; position: absolute; }
.T { top: 0; left: 50%; position: absolute; }
.TR { top: 0; right: 0; position: absolute; }
.L { top: 50%; left: 0; position: absolute; }
.C { top: 50%; left: 50%; position: absolute; }
.HC { left: 50%; transform:translateX(-50%); position: absolute; }
.TC {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.R { top: 50%; right: 0; position: absolute; }
.BL { bottom: 0; left: 0; position: absolute; }
.B { bottom: 0; left: 50%; position: absolute; }
.BR { bottom: 0; right: 0; position: absolute; }
.full { width: 100%; height: 100%; display: block; }
.invis { visibility: hidden; opacity: 0; }
.hList { list-style: none; white-space: nowrap;}
.hList li { display: inline-block;  white-space: normal; vertical-align: top;}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scalingFont{
    font-size: calc(4vw + 4vh + 2vmin);
}
/**
 * Computes a CSS calc function that betweens a value from
 * A to B over viewport-width A to viewport-width B.
 * Requires a media query to cap the value at B.
 */
 // USAGE: @include scaled-font(9,40,280,1000);

@mixin scaled-font($fontSize, $maxFontSize, $width, $maxWidth) {
    font-size: calc( #{$fontSize}px + (#{$maxFontSize} - #{$fontSize}) * (100vw - #{$width}px) / (#{$maxWidth} - #{$width}) );
	@media screen and (max-width: #{$width}px) {
		font-size: #{$fontSize}px;
	}
	@media screen and (min-width: #{$maxWidth}px) {
		font-size: #{$maxFontSize}px;
	}
}
@mixin scaled-font-height($fontSize, $maxFontSize, $width, $maxWidth) {
    font-size: calc( #{$fontSize}px + (#{$maxFontSize} - #{$fontSize}) * (100vh - #{$width}px) / (#{$maxWidth} - #{$width}) );
	@media screen and (max-height: #{$width}px) {
		font-size: #{$fontSize}px;
	}
	@media screen and (min-height: #{$maxWidth}px) {
		font-size: #{$maxFontSize}px;
	}
}
